version: '3.7'

volumes:
  my_sql_datadir:

services:
  mysql:
    container_name: mysql-node
    build:
      context: ./mysql
      dockerfile: Dockerfile
    ports:
      - "3306:3306"
    volumes:
      - my_sql_datadir:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d/
    env_file:
      - ./.env
    environment:
      - DB_USER
      - DB_PASSWORD
    command:
      [
        "mysqld",
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_unicode_520_ci",
        "--default-authentication-plugin=mysql_native_password",
      ]
  wallet: 
    build: 
      context: .
    volumes:
      - ./src:/src
    ports:
      - '3000:3000'
    depends_on:
      - 'mysql'
    environment:
      - NODE_ENV
      - DB_USER
      - DB_PASSWORD
      - DB_PORT
      - DB_HOST
